<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><img src="../assets/blog_logo_admin.png" width=48px alt=""> BBE | Best Blog Ever | Admin</a>

      <div id="admin" class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Posts", admin_posts_path, class: "nav-link #{'active' if params[:controller] == 'admin/posts'}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Categories", admin_categories_path, class: "nav-link #{'active' if params[:controller] == 'admin/categories'}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Users", admin_users_path, class: "nav-link #{'active' if params[:controller] == 'admin/users'}" %>
          </li>
        </ul>

        <%= render 'partials/admin/search' %>

      </div>
    </nav>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-body bg-light">

              <div id="user_nav">
                <% if current_user %>
                  Logged in as <%= current_user.email %>
                  <%= link_to "Log out", admin_logout_path, class: "float-right"  %>
                <% else %>
                  <%= link_to "Log in", admin_login_path, class: "float-right" %>
                <% end%>
              </div>

            <% if flash[:notice] %>
              <div class="alert alert-success"><%= flash[:notice] %> </div>
            <% end %>

            <% if flash[:alert] %>
              <div class="alert alert-danger"><%= flash[:alert] %> </div>
            <% end %>
            
              <%= yield %>
            </div>
          </div>
      </div>
    </section>

    <footer>
      <p>Copyright &copy; 2019, BBE | Best Blog Ever | <%= link_to "User Area", root_path %></p>
    </footer>

  </body>
</html>
