<h2>Edit User</h2>

<%= form_for [:admin, @user] do |f| %>
    <!-- Check for errors -->
    <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |msg| %>
            <!-- Show errors -->
            <div class="alert alert-danger"><%= msg %></div>
        <% end %>
    <% end %>

    <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: 'form-control' %><br />
    </div>

    <div class="form-group">
        <%= f.label :email %><br />
        <%= f.text_field :email, class: 'form-control' %><br />
    </div>

    <div class="form-group">
        <%= f.label :new_password %><br />
        <%= f.password_field :new_password, class: 'form-control' %><br />
    </div>

    <div class="form-group">
        <%= f.label :new_password_confirmation %><br />
        <%= f.password_field :new_password_confirmation, class: 'form-control' %><br />
    </div>

    <br>

    <%= f.submit "Submit", class: 'btn btn-dark' %>
    <%= link_to "Cancel", categories_path, class: 'btn btn-dark' %>
<% end %>