<h2 class="page-header">Manage Users <%= link_to "Add New", new_admin_user_path, :class => "btn btn-success float-right", :role => "button" %></h2>

<% if @users.exists? %>
    <table class="table table-striped">
        <tr>
          <th>User name</th>
          <th>E-mail</th>
          <th>Date Created</th>
          <th>Actions</th>
        </tr>

        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at.to_time.strftime('%B %e at %l:%M %p') %>
            <td><%= link_to "Edit", edit_admin_user_path(user), :class => "btn btn-warning", :role => "button" %> <%= link_to "Delete", admin_user_path(user), :class => "btn btn-danger", :role => "button", method: :delete, data: {confirm: "Are you sure?"}%>
            </td>
          </tr>
        <% end %>
    </table>

    <%= will_paginate @posts, :class => "page-item" %>

<% else %>
    <p>There are no users yet</p>
<% end %>   

